<div class="profile-user {{ styleModifier }}">
	<div class="content">
		<div class="row">
			<div class="column column--12 column--s-3 column--m-4">
				<div class="profile-user__image-container">
					<img src="{{profile-user_image}}" class="profile-user__image">
				</div>

			</div>
			<div class="column column--12 column--s-9 column--m-8">
				<h4 class="profile-user__title"> {{ profile-user_title }} </h4>
				<dl class="profile-user__details">
					{{# profile-user_information }}
						<dt class="profile-user__label"> {{ label }}</dt>
						<dd class="profile-user__info"> {{ value }} <span class="icon icon--edit profile-user__icon"></span></dd>
					{{/ profile-user_information }}
				</dl>
			</div>
		</div>
	</div>
</div>
