<div class="image-profile {{ styleModifier }}">
	<a href="#" class="image-profile__link">
		<img src="{{ image-profile_image }}" class="image-profile__image {{# image-profile_isRound }} image-profile__image--is-round {{/ image-profile_isRound }}">
	</a>
</div>