@import '../../mixins/text-color.mixin';
@import '../../mixins/text-align.mixin';
@import '../../mixins/spacing.mixin';
@import '../../mixins/position.mixin';
@import '../../mixins/flex.mixin';
@import '../../mixins/typo.mixin';

@import 'image-profile.setup';

.image-profile {
	@include -flex;
	@include -flex-align-items(center);

	&__info {
		@include -text-align(right);
	}
	
	&__title {
		@include -display(block);
		@include -font-size(16);
		@include -text-color-blue-02;
		@include -font-primary;
		font-weight: 700;
	}

	&__link {
		@include -display(block);
		@include -font-size(16);
		@include -font-primary;
		@include -text-color-blue-02;
		line-height: 1.2;
	}

	&__image-content {
		@include -position(relative);

		height: $image-profile-image-content-dimension;
		width: $image-profile-image-content-dimension;
		border-radius: $image-profile-image-content-border-radius;
		margin-left: $image-profile-image-content-outer-spacing-left;
		overflow: hidden;
		cursor: pointer;
	}

	&__image {
		@include -position(absolute);
		
		top: $image-profile-image-position;
		left: $image-profile-image-position;
		width: $image-profile-image-width;
		transform: translate(-$image-profile-image-position, -$image-profile-image-position);
		
	}
}
