@import '../../mixins/display.mixin';

@import 'image-profile.setup';

.image-profile {

	width: $image-profile-dimension;
	height: auto;
	overflow: hidden;

	&__link {
		@include -display(block);
	}

	&__image {
		width: $image-profile-image-dimension;
		height: $image-profile-image-dimension;
		
		&--is-round {
			border-radius: $image-profile-image-border-radius;
		}
	}
}
