@import '../../setup/common-variables';

$image-slide-image-width: 100% !default;
$image-slide-arrow-position-top: 50% !default;
$image-slide-arrow-left-position-left: 0 !default;
$image-slide-arrow-left-position-right: 0 !default;

$image-slide-arrow-text-shadow: 0 0 5px rgba($color-palette-black, .9) !default;