@import '../../setup/common-variables';
@import '../../setup/pxtorem';


$image-profile-reset: 0 !default;
$image-profile-width: 100% !default;

$image-profile-image-content-border-radius: 50% !default;
$image-profile-image-content-dimension: rem(50px) !default;
$image-profile-image-content-outer-spacing-left: rem(20px) !default;

$image-profile-image-width: 100% !default;
$image-profile-image-position: 50% !default;
