<label class="input-radio {{ styleModifier }}">
	<input
		type="radio" name="{{ input-radio_value }}" class="input-radio__field"
		{{# input-radio_isChecked }} checked="checked" {{/ input-radio_isChecked }}
		{{# input-radio_isDisabled }} disabled="disabled" {{/ input-radio_isDisabled }}>
	<span class="input-radio__label">{{ input-radio_label }}</span>
</label>