<label class="input-radio-icon">
  <input type="radio"
         name="{{ input-radio-icon_name }}" class="input-radio-icon__field"
         {{# input-radio-icon_isChecked }} checked="checked" {{/ input-radio-icon_isChecked }} >
  <div class="input-radio-icon__container">
    <span class="input-radio-icon__icon icon icon--{{input-radio-icon_icon}}"></span>
    <span class="input-radio-icon__label">{{ input-radio-icon_label }}</span></div>
</label>