<label class="input {{ styleModifier }}">
	<input type="{{input_type}}" placeholder="{{ input_label }}" class="input__field">
	<span class="input__label">{{ input_label }}</span>
	<div class="input__border"></div>
	{{# input_icon }}
		<span class="input__icon icon icon--{{input_icon}}"></span>
	{{/ input_icon }}
</label>