<label class="input-range {{ styleModifier }}">
	<input type="hidden" class="input-range__hidden">
	<input type="range" min="{{ input-range_minValue }}" max="{{ input-range_maxValue }}" class="input-range__field">
	<span class="input-range__value">{{ input-range_value }}</span>
</label>