<label class="input-fileupload {{ styleModifier }}">
	<input type="file" name="{{ input-fileupload_name }}" class="input-fileupload__field" />
	<span class="input-fileupload__icon icon icon--upload"></span>
	<span class="input-fileupload__label">{{ input-fileupload_label }}</span>
</label>
