<label class="select {{ styleModifier }}">
  <select class="select__field">
    {{ #select_items }}
    	<option> {{ label }} </option>
    {{/ select_items }}
  </select>
  <span class="select__icon icon icon--arrow-down"></span>
</label>
