<ul class="navigation-footer {{ styleModifier }}">
	{{# navigation-footer }}
	<li class="navigation-footer__item">
		<a href="#" class="navigation-footer__link"> {{ linkTitle }}</a>
	</li>
	{{/ navigation-footer }}
</ul>
