<ul class="navigation-line {{ styleModifier }}">
  {{# navigation-line_items }}
    <li class="navigation-line__item {{# isActive }} navigation-line__item--active {{/isActive}} "></li>
  {{/ navigation-line_items }}
</ul>