<ul class="sg-colors">
  <li>
<span class="icon -typo-headline-3 icon--send"></span>
<span class="icon -typo-headline-3 icon--search"></span>
<span class="icon -typo-headline-3 icon--heart-o"></span>
<span class="icon -typo-headline-3 icon--heart"></span>
<span class="icon -typo-headline-3 icon--map-marker"></span>
<span class="icon -typo-headline-3 icon--user-circle"></span>
<span class="icon -typo-headline-3 icon--facebook"></span>
<span class="icon -typo-headline-3 icon--instagram"></span>
<span class="icon -typo-headline-3 icon--password"></span>
<span class="icon -typo-headline-3 icon--close"></span>
<span class="icon -typo-headline-3 icon--edit"></span>
<span class="icon -typo-headline-3 icon--camera"></span>
<span class="icon -typo-headline-3 icon--delete"></span>
<span class="icon -typo-headline-3 icon--benefits"></span>
<span class="icon -typo-headline-3 icon--address"></span>
<span class="icon -typo-headline-3 icon--info"></span>
<span class="icon -typo-headline-3 icon--warning"></span>
<span class="icon -typo-headline-3 icon--success"></span>
<span class="icon -typo-headline-3 icon--ellipsis"></span>
<span class="icon -typo-headline-3 icon--bars"></span>
<span class="icon -typo-headline-3 icon--cog"></span>
<span class="icon -typo-headline-3 icon--check"></span>
<span class="icon -typo-headline-3 icon--shower"></span>
<span class="icon -typo-headline-3 icon--parking"></span>
<span class="icon -typo-headline-3 icon--eating"></span>
<span class="icon -typo-headline-3 icon--mail"></span>
<span class="icon -typo-headline-3 icon--arrow-right-thin"></span>
<span class="icon -typo-headline-3 icon--arrow-left-thin"></span>
  </li>
</ul>
