$teaser-image-text-width: 100vw !default;
$teaser-image-text-max-width: 100vw !default;

$teaser-image-text-image-width: 100% !default;
$teaser-image-text-image-max-width-m: 50% !default;
$teaser-image-text-textbox-width: 100% !default;