<div class="box-info">
    <div class="box-info__media">
		{{> organisms-image-slide }}
	</div>
    <div class="box-info__content">
        <p class="box-info__suptitle">{{ box-info_suptitle }}</p>
        <h3 class="box-info__title">{{ box-info_title }}</h3>
        <p class="box-info__subtitle"> {{ box-info_subtitle }} </p>
		
		{{> molecules-rating:box-info__rating }}

		{{> molecules-button-primary:box-info__button(button-primary_label: "Details") }}
    </div>
</div>