<div class="teaser-image-text {{ styleModifier }}">
  <img src="{{ teaser-image-text_image }}" class="teaser-image-text__image">
  <div class="teaser-image-text__textbox">
    <h2 class="teaser-image-text__title">{{ teaser-image-text_title }}</h2>
    {{# teaser-image-text_paragraphs }}
      <p class="teaser-image-text__paragraph">{{ paragraph }}</p>
    {{/ teaser-image-text_paragraphs }}
  </div>
</div>