@import '../../setup/common-variables';

$signet-width: 100% !default;
$signet-path-fill-color-white: $color-palette-white !default;
$signet-path-fill-color-gray: $color-palette-gray-03 !default;
$signet-path-fill-color-blue: $color-palette-blue-01 !default;
$signet-path-fill-color-green: $color-palette-green-01 !default;