<div class="row row-buttons {{ styleModifier }}">
	<div class="column column--12 column--s-6">
		{{> molecules-button(button_backgroundColor: "red", button_label: "Abbrechen") }}
	</div>
	<div class="column column--12 column--s-6">
		{{> molecules-button(button_label: "Fortfahren") }}
	</div>
</div>
