<div class="modal-share {{ styleModifier }} {{# modal-share_isOpen }} modal-share--open {{/ modal-share_isOpen }}">
  <div class="modal-share__info">
    {{ modal-share_title }}
  </div>
  <div class="modal-share__icons">
    <a href="#" class="link-icon modal-share__icon modal-share__icon--socials">
      <span class="link-icon__icon icon icon--mail"></span>
    </a>
    <a href="#" class="link-icon modal-share__icon modal-share__icon--socials">
      <span class="link-icon__icon icon icon--facebook"></span>
    </a>
    <a href="#" class="link-icon modal-share__icon modal-share__icon--socials">
      <span class="link-icon__icon icon icon--link"></span>
    </a>
  </div>
  <span class="modal-share__icon modal-share__icon--close icon icon--x"></span>
  
</div>