<div class="page-divided">
  <div class="page-divided__box page-divided__box--left">
    <img src="{{ page-divided_image }}" class="page-divided__image">
  </div>
  <div class="page-divided__box page-divided__box--right" style="overflow-y: scroll;">
    <div class="content">
      <div class="row">
        <div class="column column--12">
          <h2 class="-typo-headline-02 -text-color-blue-02 -font-secondary">{{ page-divided_title }}</h2>
        </div>
      </div>
      <div class="row -spacing-outer-30">
        <div class="column column--12 column--s-6 -spacing-outer-10">
          {{> molecules-button-primary(button-primary_label: "mit Facebook registrieren", button-primary_icon: "facebook", button-primary_backgroundColor: "fb-blue") }}
        </div>
        <div class="column column--12 column--s-6 -spacing-outer-10">
          {{> molecules-button-primary(button-primary_label: "mit Google registrieren", button-primary_icon: "google", button-primary_backgroundColor: "red") }}
        </div>
      </div>
      <div class="row">
        <div class="column column--12 -align-center -spacing-outer-30">
          <h4 class="-typo-headline-04 -text-color-blue-01 -font-secondary">oder</h4>
        </div>
      </div>
      <div class="row">
        <div class="column column--12 -spacing-outer-10">
          {{> molecules-input(input_label: "Dein Username", input_icon: "user") }}
        </div>
      </div>
      <div class="row">
        <div class="column column--12 column--s-6 -spacing-outer-10">
          {{> molecules-input(input_label: "Dein Passwort", input_icon: "eye", input_type: "password") }}
        </div>
        <div class="column column--12 column--s-6 -spacing-outer-10">
          {{> molecules-input(input_label: "Passwort wiederholen", input_icon: "eye", input_type: "password") }}
        </div>
      </div>
      <div class="row -spacing-outer-20">
        <div class="column column--12 -spacing-outer-20 -align-center">
          <h4 class="-typo-headline-04 -text-color-blue-02 -font-secondary">Kontaktdaten</h4>
        </div>
      </div>
      <div class="row -spacing-outer-20">
        <div class="column column--12 column--s-6 -spacing-outer-10">
          {{> molecules-input(input_label: "Dein Vorname", input_icon: "", input_type: "text") }}
        </div>
        <div class="column column--12 column--s-6 -spacing-outer-10 ">
          {{> molecules-input(input_label: "Dein Nachname", input_icon: "", input_type: "text") }}
        </div>
      </div>
      <div class="row">
        <div class="column column--12 column--s-6 -spacing-outer-10 ">
          {{> molecules-input(input_label: "Deine E-Mail Adresse", input_icon: "", input_type: "mail") }}
        </div>
        <div class="column column--12 column--s-6 -spacing-outer-10 ">
          {{> molecules-input(input_label: "Dein Geburtsdatum", input_icon: "", input_type: "text") }}
        </div>
      </div>
      <div class="row">
        <div class="column column--12 column--s-3 -spacing-outer-10 ">
          {{> molecules-input(input_label: "PLZ", input_icon: "", input_type: "text") }}
        </div>
        <div class="column column--12 column--s-9 -spacing-outer-10 ">
          {{> molecules-input(input_label: "Dein Wohnort", input_icon: "", input_type: "text") }}
        </div>
      </div>
      <div class="row">
        <div class="column column--12 -spacing-outer-10 ">
          {{> molecules-input-radio(input-radio_label: "männlich")}}
          {{> molecules-input-radio(input-radio_label: "weiblich")}}
          {{> molecules-input-radio(input-radio_label: "neutral")}}
        </div>
      </div>
      <div class="row -spacing-outer-20">
        <div class="column column--12 -spacing-outer-20 -align-center">
          <h4 class="-typo-headline-04 -text-color-blue-02 -font-secondary">Sonstiges</h4>
        </div>
      </div>
      <div class="row -spacing-outer-20">
        <div class="column column--12 -spacing-outer-10 ">
          {{> molecules-input-toggle(input-toggle_label: "Ja. Ich bin damit einverstanden, dass mich beachfelder.de über ausgewählte Themen informieren darf. Meine Daten werden ausschließlich zu diesem Zweck genutzt. Insbesondere erfolgt keine Weitergabe an unberechtigte Dritte. Mir ist bekannt, dass ich meine Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen kann. Dies kann ich über folgende Kanäle tun: elektronisch über einen Abmeldelink im jeweiligen Newsletter, per E-Mail an: presse@beachfelder.de. Es gilt die Es gilt die Datenschutzerklärung von beachfelder.de, die auch weitere Informationen über Möglichkeiten zur Berichtigung, Löschung und Sperrung meiner Daten beinhaltet.", input-toggle_labelSmall: true, input-toggle_isChecked: true)}}
        </div>
      </div>
      <div class="row -spacing-outer-10">
        <div class="column column--12">
          <hr class="divider">
        </div>
      </div>
      <div class="row">
        <div class="column column--12 -spacing-outer-10 ">
          {{> molecules-input-toggle(input-toggle_label: "Ja, ich habe die Datenschutzerklärung zur Kenntnis genommen und bin damit einverstanden, dass die von mir angegebenen Daten elektronisch erhoben und gespeichert werden. Meine Daten werden dabei nur streng zweckgebunden zur Bearbeitung und Beantwortung meiner Anfrage benutzt. Mit dem Absenden des Kontaktformulars erkläre ich mich mit der Verarbeitung einverstanden.", input-toggle_labelSmall: true, input-toggle_isChecked: false )}}
        </div>
      </div>
      <div class="row">
        <div class="column column--12 column--s-6 column--push-s-6 -spacing-outer-50">
          {{> molecules-button-primary(button-primary_label: "jetzt kostenlos registrieren") }}
        </div>
      </div>
    </div>
  </div>
</div>