<div class="content">
  <div class="row">
    <div class="column column--12 -spacing-outer-40">
      <h2 class="-typo-headline-02 -text-color-blue-01 -font-secondary">Form Elements</h2>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-60">
      <h3 class="-typo-headline-03 -font-secondary -text-color-blue-02">Select</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-select }}
    </div>
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-select }}
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-40">
      <hr class="divider">
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-60">
      <h3 class="-typo-headline-03 -font-secondary -text-color-blue-02">Input Text</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input }}
    </div>
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input(input_icon:"eye", input_label:"Some label") }}
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-40">
      <hr class="divider">
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-60">
      <h3 class="-typo-headline-03 -font-secondary -text-color-blue-02">Input Toggle</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-toggle }}
    </div>
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-toggle(input-toggle_isChecked: true, input-toggle_label:"Some label") }}
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-40">
      <hr class="divider">
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-60">
      <h3 class="-typo-headline-03 -font-secondary -text-color-blue-02">Input Range Slider</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-range }}
    </div>
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-range }}
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-40">
      <hr class="divider">
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-60">
      <h3 class="-typo-headline-03 -font-secondary -text-color-blue-02">Checkbox</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-checkbox }}
    </div>
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-checkbox(input-checkbox_isChecked: true, input-checkbox_label:"Some checkbox") }}
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-40">
      <hr class="divider">
    </div>
  </div>
  <div class="row">
    <div class="column column--12 -spacing-outer-60">
      <h3 class="-typo-headline-03 -font-secondary -text-color-blue-02">Radio Button</h3>
    </div>
  </div>
  <div class="row">
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-radio }}
    </div>
    <div class="column column--12 column--s-6 -spacing-outer-20">
      {{> molecules-input-radio(input-radio_isChecked: true, input-radio_label:"Some label") }}
    </div>
  </div>
</div>