<ul class="notification-sticky {{ styleModifier }}">
	{{# notification-sticky_items }}
		<li class="notification-sticky__item {{# error }} notification-sticky__item--error {{/ error }}">
			<div class="content notification-sticky__content">
				{{# icon }}
					<span class="notification-sticky__icon icon icon--{{ icon }}"></span>
				{{/ icon }}
				<p class="notification-sticky__text">{{ text }} </p>

				{{# hasButton }}
					{{# error }}
						{{> molecules-button-primary:notification-sticky__button|notification-sticky__button--error(button-primary_label: "Ok") }}
					{{/ error }}
					{{^ error }}
						{{> molecules-button-primary:notification-sticky__button(button-primary_label: "Ok") }}
					{{/ error }}
				{{/ hasButton }}
			</div>
				{{^ hasButton }}
					<span class="notification-sticky__icon notification-sticky__icon--close icon icon--x"></span>
				{{/ hasButton }}

		</li>
	{{/ notification-sticky_items }}
</ul>