<div class="group-link-icon {{ styleModifier }}">
  {{> molecules-link-icon(link-icon_icon: "heart", link-icon_hasShadow: true )}}
  {{> molecules-link-icon(link-icon_icon: "share", link-icon_hasShadow: true )}}
</div>