@import '../../setup/common-variables';

$navigation-footer-item-before-position-left: rem(2px) !default;
$navigation-footer-item-before-position-top: 50% !default;
$navigation-footer-item-before-height: 50% !default;
$navigation-footer-item-before-width: 1px !default;