<div class="icon-text {{ styleModifier }}">
  <span class="icon-text__icon icon icon--{{icon-text_icon}}"></span>
  <span class="icon-text__label">{{ icon-text_label }}</span>
  {{# icon-text_labelSecond }}
    <span class="icon-text__label">{{ icon-text_labelSecond }}</span>
  {{/ icon-text_labelSecond }}
</div>