<div class="image-profile {{ styleModifier }}">
	{{# image-profile_additionalInfo }}
		<div class="image-profile__info">
			<span class="image-profile__title">{{ image-profile_title }}</span>
			{{# image-profile_links }}
				<a href="#" class="image-profile__link">{{ linkName }}</a>
			{{/ image-profile_links }}
		</div>
	{{/ image-profile_additionalInfo }}
	<div class="image-profile__image-content">
		<a href="#">
			<img src="{{ image-profile_image }}" class="image-profile__image">
		</a>
	</div>
</div>
