<section class="section section--additional-fields {{ styleModifier }}">
  <div class="content">
    <div class="row">
      <div class="column column--12 ">
        <h2 class="section__title">{{ section-additional-fields_title }}</h2>
      </div>
    </div>
    <div class="row -spacing-outer-40">
      <div class="column column--12 column--s-6 column--m-4 -spacing-outer-10">
        {{> organisms-item-beachcourt }}
      </div>
      <div class="column column--12 column--s-6 column--m-4 -spacing-outer-10">
        {{> organisms-item-beachcourt }}
      </div>
      <div class="column column--12 column--s-6 column--m-4 -spacing-outer-10">
        {{> organisms-item-beachcourt }}
      </div>
    </div>
  </div>
</section>