<a href="#" class="link-icon {{ styleModifier }} {{# link-icon_hasShadow }} link-icon--has-shadow {{/ link-icon_hasShadow }} {{# link-icon_backgroundColor }} link-icon--{{link-icon_backgroundColor}} {{/ link-icon_backgroundColor }}">
  <span class="link-icon__icon icon icon--{{link-icon_icon}} link-icon__icon--{{link-icon_icon}} {{# link-icon_backgroundColor }} link-icon__icon--white {{/ link-icon_backgroundColor }} "></span>
</a>