<a href="#" class="link-icon-text {{ styleModifier }}">
  <span class="link-icon-text__icon icon icon--{{link-icon-text_icon}}"></span>
  <span class="link-icon-text__copy">{{ link-icon-text_label }}</span>
</a>