<ul class="list-common {{ styleModifier }}">
	{{# list-common_items }}
		<li class="list-common__item">
			<span class="list-common__icon icon icon--caret-right"></span>
			{{ item }}
		</li>
	{{/ list-common_items }}
</ul>
