<footer class="footer">
  <div class="content">
    <div class="row">
      <div class="column column--12">
        <hr class="divider -spacing-outer-100">
      </div>
    </div>
    <div class="row ">
      <div class="column column--12">
        {{> molecules-link-icon:-spacing-outer-20(link-icon_icon:"instagram", link-icon_hasShadow: true) }}
        {{> molecules-link-icon:-spacing-outer-20(link-icon_icon:"facebook", link-icon_hasShadow: true) }}
      </div>
    </div>
    <div class="row -spacing-outer-20">
      <div class="column column--12">
        {{> molecules-navigation-footer }}
      </div>
    </div>
    <div class="row">
      <div class="column column--12">
        <p class="footer__paragraph">
          {{ footer_paragraph }}
        </p>
      </div>
    </div>
    <div class="row -spacing-outer-20">
      <div class="column column--12"></div>
    </div>
  </div>
</footer>