$link-text-before-width: 0 !default;
$link-text-before-width-hovered: 100% !default;
$link-text-before-height: 50% !default;
$link-text-before-position-reset: 0 !default;
$link-text-before-z-index: 1 !default;