<div class="image-text">
  <img src="{{ image-text_image }}" class="image-text__image">
  
  <div class="image-text__content">
    <h4 class="image-text__title">{{ image-text_title }}</h4>
    
    {{# image-text_subtitle }}
      <p class="image-text__subtitle">{{ image-text_subtitle }}</p>
    {{/ image-text_subtitle }}
  </div>
</div>