<div class="image-text-rounded  {{ styleModifier }}">
  <a href="#" class="image-text-rounded__link">
    <img src="{{ image-text-rounded_image }}" class="image-text-rounded__image">
    <span class="image-text-rounded__title {{# image-text-rounded_titleIsVisible }} image-text-rounded__title--is-visible {{/ image-text-rounded_titleIsVisible }}"> {{ image-text-rounded_title }} </span>
  </a>
</div>