<ul class="sg-colors">
	<li>
		<span class="sg-swatch -background-color-white"></span>
		<span class="sg-label">
			$background-color-white<br />
      @include -background-color-white;<br />
			#FFFFFF
		</span>
	</li>
	<li>
		<span class="sg-swatch -background-color-black"></span>
		<span class="sg-label">
			$background-color-black<br />
      @include -background-color-black;<br />
			#000000
		</span>
	</li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch -background-color-gray-01"></span>
    <span class="sg-label">
			$background-color-gray-01<br />
      @include -background-color-gray-01;<br />
			#595556
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-color-gray-02"></span>
    <span class="sg-label">
			$background-color-gray-02<br />
      @include -background-color-gray-02;<br />
			#f0f0f0
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-color-gray-03"></span>
    <span class="sg-label">
			$background-color-gray-03<br />
      @include -background-color-gray-03;<br />
			#fbfbfb
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-color-blue-01"></span>
    <span class="sg-label">
			$background-color-blue-01<br />
      @include -background-color-blue-01;<br />
			#447A8B
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-color-blue-02"></span>
    <span class="sg-label">
			$background-color-blue-02<br />
      @include -background-color-blue-02;<br />
			#798796
		</span>
  </li>

  <li>
    <span class="sg-swatch -background-color-green-01"></span>
    <span class="sg-label">
			$background-color-green-01<br />
      @include -background-color-green-01;<br />
			#1CB4B4
		</span>
  </li>

  <li>
    <span class="sg-swatch -background-color-red-01"></span>
    <span class="sg-label">
			$background-color-red-01<br />
      @include -background-color-red-01;<br />
			#CF4135
		</span>
  </li>
</ul>
