<ul class="sg-colors">
  <li class="sg-wrapper-dark">
		<span class="sg-label -text-color-white">
			$text-color-white<br/>
      @include -text-color-white();<br />
			#ffffff
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-gray-1">
			$text-color-gray-1<br/>
      @include -text-color-gray-1();<br />
			#595556
		</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
		<span class="sg-label -text-color-red">
			$text-color-red<br/>
      @include -text-color-red();<br />
			#CF4135
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-blue-1">
			$text-color-blue-1<br/>
      @include -text-color-blue-1();<br />
			#447A8B
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-blue-2">
			$text-color-blue-2<br/>
      @include -text-color-blue-2();<br />
			#798796
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-green">
			$text-color-green<br/>
      @include -text-color-green();<br />
			#1CB4B4
		</span>
  </li>
</ul>
