@import '../../setup/common-variables';

$list-beachcourt-item-background-color: $color-palette-gray-03 !default;
$list-beachcourt-item-padding: .5rem !default;
$list-beachcourt-item-padding-s: 0 !default;

$list-beachcourt-item-height: 8.125rem !default;
$list-beachcourt-item-width: 100% !default;
$list-beachcourt-item-margin-top: .1875rem !default;

$list-beachcourt-image-width: 11.25rem !default;
$list-beachcourt-image-height: 8.125rem !default;

$list-beachcourt-icon-list-margin-horizontal: .625rem !default;
$list-beachcourt-icon-list-margin-vertical: 1.25rem !default;
$list-beachcourt-icon-list-font-color: $color-palette-blue-02 !default;

$list-beachcourt-action-height: 100% !default;
