@import '../../setup/pxtorem';

$rating-detailed-label-font-weight: 700 !default;
$rating-detailed-label-width-m: 50% !default;

$rating-detailed-list-width-m: 50% !default;
$rating-detailed-item-dimension: rem(25px) !default;