@import '../../setup/common-variables';
@import '../../setup/pxtorem';

$input-fileupload-field-dimension: .1px !default;
$input-fileupload-field-opacity: 0 !default;
$input-fileupload-field-z-index: 1 !default;

$input-fileupload-max-height: 3.75rem !default;
$input-fileupload-background-color: $color-palette-green-01 !default;
$input-fileupload-background-color-hovered: $color-palette-blue-01 !default;

$input-fileupload-inner-spacing-vertical: 1rem !default;
$input-fileupload-inner-spacing-horizontal: 1.25rem !default;

$input-fileupload-label-font-size: 1rem !default;
$input-fileupload-label-text-color: $color-palette-white !default;

$input-fileupload-icon-spacing-right: .5rem !default;
