@import '../../setup/pxtorem';

$input-radio-icon-width: 100% !default;
$input-radio-icon-icon-dimension: rem(22px) !default;
$input-radio-icon-container-border-radius: rem(4px) !default;
$input-radio-icon-label-line-height: 1.5 !default;