<div class="image-hero {{ styleModifier }} {{# image-hero_isHalf }} image-hero--half {{/ image-hero_isHalf }}" style="background-image: url({{image-hero_image}});">
  {{# image-hero_hasOverlay }}
    {{> organisms-overlay }}
  {{/ image-hero_hasOverlay }}
</div>