<div class="image-profile {{ styleModifier }}">
	<img src="{{ image-profile_image }}" class="image image-profile__image">

	<div class="image-profile__overlay">
		<label class="image-profile__upload">
			<input type="file" name="" class="image-profile__field" data-multiple-caption="{count} files selected" />
			<span class="icon icon--camera image-profile__icon"></span>
			<span class="image-profile__label"></span>
		</label>

		<span class="icon icon--delete image-profile__button"></span>
	</div>

</div>
