<button type="button" class="button-primary {{ styleModifier }} {{# button-primary_backgroundColor }} button-primary--{{button-primary_backgroundColor}} {{/ button-primary_backgroundColor }}" {{# button-primary_disabled }} disabled="disabled" {{/ button-primary_disabled }}>
	<span class="button-primary__label">{{ button-primary_label }}</span>
	<span class="button-primary__label button-primary__label--hover">{{ button-primary_label }}</span>
</button>