
$page-divided-box-width: 100% !default;
$page-divided-box-width-s: 50% !default;

$page-divided-box-height-s: 100vh !default;
$page-divided-box-left-height: 30vh !default;

$page-divided-image-width: 100% !default;
$page-divided-image-dimension-s: 100% !default;
$page-divided-image-position-reset: 0 !default;