@import '../../setup/common-variables';

$map-width: 100% !default;
$map-height: 28.125rem !default;

$map-overlay-position: 0 !default;
$map-overlay-dimension: 100% !default;
$map-overlay-background-color: rgba($color-palette-green-01, .7) !default;
