<div class="header-page {{ styleModifier }}">
	<h1 class="header-page__title {{# header-page_titleColor }} -text-color-{{ header-page_titleColor }} {{/ header-page_titleColor }}">
		{{ header-page_title }}
	</h1>
	{{# header-page_subtitle }}
	<p class="header-page__subtitle">
		{{ header-page_subtitle }}
	</p>
	{{/ header-page_subtitle }}
</div>
